.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--action {
  border-radius: 16px;
  background-color:  #eda9f1;
  height: 30px;
  text-decoration: none;
  color: white;
  padding: 5px;
  line-height: 30px;

}
